{% extends 'base/main.html' %} {% load static %} {% block homepage %} {% include
'base/navbar.html' %}
<script>
  document.title = "NSS | GLA University";
</script>

<!-- span-1 code starts here -->
<section class="slideshow-section">
  <div id="slider">
    <figure>
      <img
        src="{% static '/img/sliding-img/desk1.jpg' %}"
        alt="img-1"
        srcset=""
      />
      <img
        src="{% static '/img/sliding-img/desk2.jpg' %}"
        alt="img-2"
        srcset=""
      />
      <img
        src="{% static '/img/sliding-img/desk3.jpg' %}"
        alt="img-3"
        srcset=""
      />
      <img
        src="{% static '/img/sliding-img/desk4.jpg' %}"
        alt="img-4"
        srcset=""
      />
      <img
        src="{% static '/img/sliding-img/desk1.jpg' %}"
        alt="img-5"
        srcset=""
      />
    </figure>
  </div>

  <div id="description">
    <div id="description-heading">
      <h1 style="font-size: 36px">NSS GLA University</h1>
    </div>
    <div id="detailed-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam
        praesentium corrupti! Quasi explicabo recusandae sit earum, alias vero
        ex voluptates officiis aliquid reprehenderit assumenda accusamus fugit
        ab quidem harum!
      </p>
    </div>
  </div>
</section>

<!-- section 2 code starts here or Project showcase section -->
<section class="social-projects-container">
  <div class="project-container">
    <h1 style="font-size: 36px; margin: 20px 0">Social Projects</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente debitis
      tenetur, rerum voluptates doloremque iure harum! Molestias suscipit
      quisquam repellat eos! Reiciendis repudiandae doloremque tempore aut
      magnam! Sapiente, iure reiciendis! Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Eos porro ducimus iure, vero libero illo quae ratione,
      enim unde in vel nostrum velit nesciunt eius assumenda recusandae
      consequuntur temporibus. Vitae.
    </p>
  </div>

  <div class="main-container">
    <div class="post-wrapper">
      {% for i in posts %}
      <div class="another-container">
        <div class="post">
          <img
            class="thumbnail"
            src="uploads/{{i.thumbnail}}"
            alt="post picture"
          />
          <div class="post-preview">
            <h6 class="post-title">{{ i.post_title }}</h6>
            <p class="post-intro">
              {{ i.description }}..<br /><br />
              <a href="{{i.link}}">Read more</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- contact form section starts here -->
<section class="section2">
  <div class="contact-wrapper">
    <div class="contact-left">
      <h1>Having Doubts?</h1>
      <p>Feel free to ask us!</p>
    </div>

    <div class="contact-right">
      <form action="" method="post" id="contact-form">
        {% csrf_token %}

        <label>Name</label>
        <input
          required
          class="input-field"
          type="text"
          name="name"
          placeholder="Enter your Full Name here."
        />

        <label>Subject</label>
        <input
          required
          class="input-field"
          type="text"
          name="subject"
          placeholder="Issue regarding."
        />

        <label>Email</label>
        <input
          required
          class="input-field"
          type="text"
          name="email"
          placeholder="Please tell us how to raech you."
        />

        <label>Message</label>
        <textarea
          required
          class="input-field"
          name="message"
          placeholder="Feel free to say your words."
        ></textarea>

        <input id="submit-btn" type="submit" value="Send" />
      </form>
    </div>
  </div>
</section>

<!-- login form html starts here -->
<!-- <div class="popup">
  <div class="close-btn">&times;</div>
  <div class="form">
    <h2>Log in</h2>
    <div class="form-element">
      <label for="Username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter Username."
      />
    </div>

    <div class="form-element">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter Password."
      />
    </div>

    <div class="form-element">
      <input type="checkbox" name="rememberMe" id="remember-me" />
      <label for="remember-me">Remember Me</label>
    </div>

    <div class="form-element">
      <button>Sign in</button>
    </div>

    <div class="form-element">
      <a href="#">Forget Password</a>
    </div>
  </div>
</div> -->
{% include 'base/footer.html' %} 
{% if error == "no" %}
<script>
  alert("Your Query Accepted Successfully, We'll reach you as soon as possible!");
  window.location = ('{% url 'home' %}');
</script>
{% endif %} 
{% if error == "yes" %}
<script>
  alert('Something went wrong,Try Again');
  window.location = ('{% url 'home' %}')
</script>
{% endif %} 
{% endblock homepage %}
