{% load static %}
<nav>
  <div class="logo">
    <img class="logo-img" src="{% static '/img/logo.jpeg' %}" alt="logo" />
    <h1>NSS GLAU</h1>
  </div>
  <ul>
    <li style="color: #ffffff" class="btn">
      <span class="fas fa-bars"></span>
    </li>
    <div class="nav-links-1">
      <li><a href="{% url 'home' %}">home</a></li>
      <li><a href="{% url 'about' %}">about</a></li>
      <li><p>|</p></li>
      <li><a href="#contact-form">get in touch</a></li>
      <li><p>|</p></li>
      <li><a href="#">login</a></li>
    </div>
    <div class="nav-links-2">
      <li class="search-icon">
        <input type="search" placeholder="Search" />
        <label class="icon">
          <span class="fas fa-search"></span>
        </label>
      </li>
    </div>
  </ul>
</nav>

<script>
  $(".btn> span").click(function () {
    $(".nav-links-1").toggleClass("show");
    $("nav ul li.btn > span").toggleClass("show");
  });
</script>
