@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

:root {
    --mainText: black;
    --secondaryText: #4b5156;
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --themeDotBorder: #24292e;
    --previewBg: rgba(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --buttonColor: black;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

/* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    }
    / optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

* {
    margin: 0px;
    height: fit-content;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* navbar css styling code starts here */
nav {
    background: #00a4cf;
    padding: 10px 40px 10px 70px;
    border: 1px solid #00a4cf;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.logo {
    display: flex;
}

.logo h1 {
    padding-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.logo>.logo-img {
    width: 40px;
    border-radius: 20px;
}

.nav-links-1 {
    padding: 0 25px;
    display: inline-flex;
}

.nav-links-1>li>a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #ffffff;
}

.nav-links-1>li>p {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #ffffff;
}

.nav-links-1>li>a:hover {
    color: cyan;
}


.search-icon {
    height: 40px;
    width: 220px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

.search-icon>input {
    height: 100%;
    width: 180px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.icon:hover {
    background: #e6e6e6;

}

.icon>span {
    color: #222222;
    font-size: 18px;
}

.btn {
    width: 60px;
    font-size: 29px;
    flex: 1;
    padding: 0 10px;
    display: none;
}

.btn>span {
    height: 42px;
    align-content: center;
    align-items: center;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #00a4cf;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn>span.show::before {
    content: '\f00d';
}

.btn-top-down {
    display: none;
}

/* navbar css styling code ends here. */

/* span1 code starts here */

.slideshow-section {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'slider description';
    gap: 100px;
    text-align: center;
    align-content: center;
    min-height: 10em;
    z-index: -5;
}

.slideshow-section>#slider {
    overflow: hidden;
    border-radius: 5px;
    z-index: -5;
}

.slideshow-section>#slider>figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    z-index: -5;
}

.slideshow-section>#slider>figure>img {
    width: 20%;
    float: left;
    z-index: -5;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

#description {
    padding-top: 100px;
    text-align: center;
}

#description>#detailed-text>p {
    margin-top: 20px;
}

/* project showcase section starts here */
.social-projects-container>.project-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.social-projects-container>.project-container {
    padding: 10px 40px 40px 10px;
    margin: 0 auto;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    border-radius: 7px;
}

.another-container {
    background-color: white;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.post {
    border-radius: 7px;
}

.post>img {
    border-radius: 7px 7px 0 0;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: white;
    padding: 15px;
    border-radius: inherit;
}

.post-title {
    font-size: 16px;
    color: black;
    margin: 0;
}

.post-intro {
    margin-top: 10px;
    color: #4b5156;
    font-size: 14px;
}

#contact-form {
    display: block;
    max-width: 600px;
    /*margin: 0 auto;*/
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d5a142;
    font-size: 14px;
    padding: 10px;
}

.contact-wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'contact-left contact-right';
}

.contact-left {
    padding-top: 100px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    /* color: #fff; */
    font-size: 32px;
}

.contact-right {
    padding-top: 25px;
}

#contact-form label {
    line-height: 2.7em;
    font-family: 'Catamaran', sans-serif;
    /* color: #fff; */
    font-size: 18px;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 18px;
    margin: 0 3px;
}


#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #d5a142;
    border: none;
    cursor: pointer;
}

/* footer styling starts here */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* footer styling ends here */


/* alert styling */

.alert {
    background: #ffdb9b;
    padding: 15px 20px;
    width: 95%;
    position: absolute;
    right: 5px;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    padding: 0px 20px;
    font-size: 12px;
    color: #ce8500;
}

/* blogs styling starts here */
* {
    margin: 0px;
    padding: 0px;
    /* font-family: poppins; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-family: poppins; */
}

/*--blog styling-------*/
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 36px;
    color: #2b2b2b;
    font-weight: 600;

}


.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;


}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid#ececec;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text > .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;

}


/* blog styling ends here */


.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 5px 15px;
    cursor: pointer;
}
.alert .close-btn:hover {
    background: #ffc766;
}

.alert .close-btn .fas {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

/* Event container styling starts here */
.events-showcase-container {
    width: 1200px;
    margin: 0 auto;
}

.event-container>h1 {
    text-align: center;
}

.event-wrapper {
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-areas:
        'event-top event-top'
        'event-left event-right';
    row-gap: 30px;
    column-gap: 30px;
}

.event-top {
    grid-area: event-top;
    position: relative;
    width: 100%;
    margin: 0 auto;
    /* width: 800px; */
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* float: left; */
    box-sizing: border-box;
}

.main-event-banner {
    background: #ffffff;
    /* border: 1px solid #c1c1c1;
      border-radius: 7px; */
    /* width: 800px; */
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.5);
}

.main-event-banner>.event-date {
    position: absolute;
    padding: 20px;
    background: #262626;
    color: #fff;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

.main-event-banner:hover>.event-date {
    background: #e91e63;
}

.main-event-banner>.event-date>h2 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 30px;
}

.main-event-banner>.event-date>h2>span {
    font-size: 30px;
}

.main-event-banner>.details {
    padding: 20px;
    background-color: #fff;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
    float: right;
    height: inherit;
}

.main-event-banner>.details>h3 {
    position: relative;
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 22px;
    font-weight: 500;
}

.main-event-banner>.details>p {
    position: relative;
    margin: 10px 0 10px 0px;
    padding: 0;
    font-size: 16px;
}

.main-event-banner>.details>a {
    display: block;
    text-decoration: none;
    /* text-transform: uppercase; */
    padding: 10px 15px;
    border: 2px solid #fff;
    margin-top: 5px;
    font-size: 18px;
    transition: .5s;
    float: left;
    color: #fff;
}

.main-event-banner>.details>a:hover {
    background: #e91e63;
    color: #fff;

}

.event-wrapper>.event-left {
    background-color: #262626;
    color: #fff;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

/* social links styling */
.social-menu {
    height: auto;
}

.social-menu ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 30px 0;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.event-right > .small-event-banner{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height:  200px;
    margin: 10px 0;
}

.event-right > .small-event-banner> .small-event-date{
    /* width: 20%;
    height: 200px; */
    position: relative;
    padding: 20px;
    background: #262626;
    color: #fff;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

.small-event-banner>.small-event-date>h2 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    line-height: 30px;
}

.small-event-banner>.small-event-date>h2>span {
    font-size: 22px;
}

.small-event-banner:hover>.small-event-date {
    background: #e91e63;
}

.event-right > .small-event-banner> .small-event-details{
    width: 80%;
    height: 200px;
    color: #fff;
}

.small-event-banner>.small-event-details>h3 {
    position: relative;
    margin: 0;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 30px 0;
}

.small-event-banner>.small-event-details>p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

.small-event-banner>.small-event-details>a {
    display: block;
    text-decoration: none;
    /* text-transform: uppercase; */
    padding: 5px 5px;
    border: 2px solid #fff;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 16px;
    transition: .5s;
    float: left;
    color: #fff;
}

.small-event-banner>.small-event-details>a:hover {
    background: #e91e63;
    color: #fff;

}


@media screen and (max-width: 1200px) {
    nav {
        padding: 10px 40px 10px 0px;
    }

    .logo>h1 {
        display: none;
    }

    .nav-links-1 {
        flex: 4;
    }

    .slideshow-section {
        width: 95%;
    }

    .social-projects-container>.project-container {
        width: 95%;
    }

    .section2>.contact-wrapper {
        width: 95%;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .events-showcase-container {
        width: 95%;
    }


}

@media screen and (max-width: 800px) {

    .logo {
        display: none;
    }

    .btn {
        display: block;
        align-content: center;
        align-items: center;
    }

    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }

    .nav-links-1 {
        z-index: -1;
        position: absolute;
        top: -300PX;
        right: 0px;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }

    .nav-links-1.show {
        top: 0px;
        z-index: 1;
    }

    .btn-top-down {
        display: block;
    }

    #top-down-btn {
        display: block;
        align-content: center;
        align-items: center;

        /* width: 60px; */
        font-size: 29px;
        flex: 1;
        padding: 0 10px;
    }

    #top-down-btn>span {
        height: 42px;
        align-content: center;
        align-items: center;
        width: 42px;
        text-align: center;
        line-height: 42px;
        /* border: 1px solid #ffffff; */
        border-radius: 5px;
        cursor: pointer;
    }

    nav ul li.btn-top-down>span.show::before {
        content: '\f00d';
    }

    .nav-links-1>li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }

    .nav-links-1>li>p {
        display: none;
    }

    .nav-links-1>li>a {
        font-size: 19px;
    }

    .slideshow-section {
        grid-template-columns: 1fr;
        grid-template-areas:
            'contact-left'
            'contact-right';
        gap: 50px;
    }

    #description {
        padding-top: 0px;
        text-align: center;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'slider'
            'description';
        gap: 50px;
    }

    .footer-col {
        width: 100%;
    }

    .event-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'event-top'
            'event-left'
            'event-right';
        gap: 20px;
    }

    .event-top {
        width: 100%;
    }

    .main-event-banner>.details>p {
        display: none;
    }

    .main-event-banner>.event-date>h2 {
        font-size: 30px;
    }

    .main-event-banner>.event-date>h2>span {
        font-size: 22px;
    }


}