@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

:root {
    --mainText: black;
    --secondaryText: #4b5156;
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --themeDotBorder: #24292e;
    --previewBg: rgba(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --buttonColor: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* navbar css styling code starts here */
nav {
    background: #00a4cf;
    padding: 10px 40px 10px 70px;
    border: 1px solid #00a4cf;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.logo {
    display: flex;
}

.logo h1 {
    padding-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.logo>.logo-img {
    width: 40px;
    border-radius: 20px;
}

.nav-links-1 {
    padding: 0 25px;
    display: inline-flex;
}

.nav-links-1>li>a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #ffffff;
}

.nav-links-1>li>p {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #ffffff;
}

.nav-links-1>li>a:hover {
    color: cyan;
}


.search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

.search-icon>input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.icon:hover {
    background: #e6e6e6;

}

.icon>span {
    color: #222222;
    font-size: 18px;
}

.btn {
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

.btn>span {
    height: 42px;
    align-content: center;
    align-items: center;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #00a4cf;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn>span.show::before {
    content: '\f00d';
}

/* navbar css styling code ends here. */

/* span1 code starts here */

.slideshow-section {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'slider description';
    gap: 100px;
    text-align: center;
    align-content: center;
    min-height: 10em;
    z-index: -5;
}

.slideshow-section>#slider {
    overflow: hidden;
    border-radius: 5px;
    z-index: -5;
}

.slideshow-section>#slider>figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    z-index: -5;
}

.slideshow-section>#slider>figure>img {
    width: 20%;
    float: left;
    z-index: -5;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

#description {
    padding-top: 100px;
    text-align: center;
}

#description>#detailed-text>p {
    margin-top: 20px;
}

/* project showcase section starts here */
.social-projects-container>.project-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.social-projects-container>.project-container{
    padding: 50px 40px;
    margin: 0 auto;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    border-radius:  7px;
}

.another-container {
    background-color: white;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.post{
    border-radius: 7px;
}

.post> img{
    border-radius:7px 7px 0 0;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: white;
    padding: 15px;
    border-radius: inherit;
}

.post-title {
    font-size: 16px;
    color: black;
    margin: 0;
}

.post-intro {
    margin-top: 10px;
    color: #4b5156;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    nav {
        padding: 10px 40px 10px 0px;
    }

    .logo>h1 {
        display: none;
    }

    .nav-links-1 {
        flex: 4;
    }

    .slideshow-section {
        width: 95%;
    }

    .social-projects-container > .project-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px) {

    .logo {
        display: none;
    }

    .btn {
        display: block;
        align-content: center;
        align-items: center;
    }

    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }

    .nav-links-1 {
        z-index: -1;
        position: absolute;
        top: -220PX;
        right: 0px;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }

    .nav-links-1.show {
        top: 60px;
        /* z-index: 1; */
    }

    .nav-links-1>li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }

    .nav-links-1>li>p {
        display: none;
    }

    .nav-links-1>li>a {
        font-size: 19px;
    }

    .slideshow-section {
        grid-template-columns: 1fr;
        grid-template-areas:
            'slider'
            'description';
        gap: 50px;
    }

    #description {
        padding-top: 0px;
        text-align: center;
    }

}